body{
    min-height: 20%;
    font-family: sans-serif;
    color: blue;
    margin: 0;
    
}

header{
    min-height: 20%;
    border: 2px solid red;
}


#cat{
    margin-left: 900px;
    width: 400px;
    border-radius: 150px;

}